/* Styles pour le conteneur du slider */
.ContainerSlide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles pour les images du slider */
.Image {
    width: 60%;
    height: 80%;
    object-fit: cover;
    position: absolute; /* positionne les images les unes sur les autres */
    opacity: 0; /* initialement caché */
    transition: opacity 0.5s ease; /* effet de fondu */
}

/* Styles pour afficher l'image active */
.ImageActive {
    opacity: 1; /* affiche l'image active */
}
