.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #247BE0 10%, #26BBDC 100%);
    position: relative;
}
.ContainerSlide {
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContainerSlide>.Image 
{
    height: 50%;
    width: 50%;
}
@keyframes anim {
    0%{
        top:0%;
        font-size:3em;
    }
    100% {
        top:85%;
        font-size:4em;
    }
}
.h1Class {
    position: absolute;
    animation: anim 2s ease-in-out forwards;
    font-size: 16px;
    font-size: 6em;
    color: white;
}
.responsiveImage {
    width: 40%; /* Taille par défaut pour les écrans plus larges */
    height: auto;
  }

@media screen and (max-width: 600px) {

    .Container 
    {
        flex-direction: column;
    }
    .Container>.ContainerSlide {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .responsiveImage {
        width: 100%; /* Taille pour les écrans mobiles */
      }
}